<div class="flex justify-center h-3">
    <form [formGroup]="registerForm" (ngSubmit)="submit(registerForm)">
        <div class="my-5 w-full">
            <label for="username">Username</label>
            <input type="text" id="username" 
            class="p-2 rounded w-full border border-black" 
            formControlName = "username"
            placeholder="Username">
        </div>
        <div>
            <em *ngIf="formValidation('username') &&  validationError('username', 'required')" class="text-red-600">Username is required</em>
        </div>
        <div class="my-5 w-full">
            <label for="email">Email</label>
            <input type="email" id="email" 
            class="p-2 rounded w-full border border-black" 
            formControlName = "email"
            placeholder="Email address">
        </div>
        <div>
            <em *ngIf="formValidation('email') &&  validationError('email', 'required')" class="text-red-600">Email is required</em>
        </div>
        <div class="my-5 w-full">
            <label for="password">Password</label>
            <input type="password" id="password" 
            class="p-2 rounded w-full border border-black" 
            formControlName = "password"
            placeholder="Password">
        </div>
        <div>
            <em *ngIf="formValidation('password') &&  validationError('password', 'required')" class="text-red-600">Password is required</em>
        </div>
        <div class="my-5 w-full">
            <button type="submit" class="p-2 w-full bg-red-700 text-white hover:bg-red-900 rounded">
                <ng-container *ngIf="isLoading()">Registering...</ng-container>
                <ng-container *ngIf="!isLoading()">Register new account</ng-container>
            </button>
        </div>
        <div *ngIf="errorCheck" class="flex justify-center h-3 text-red-600" role="alert">
            <span [innerText]="errorMsg"></span>
        </div>
    </form>
</div>
