<title>MiniImage - better than MegaImage!</title>

<nav class="flex justify-between p-4 bg-red-800 text-white font-light">
  <div>
    <a routerLink="" class="text-4xl">Mini Image</a>
  </div>
  <div>
    <ng-container *ngIf="!isUserAuthenticated">
      
      <a routerLink="/login" class="mx-4 text-lg">Login</a>
      <a routerLink="/register" class="mx-4 text-lg">Register</a>
    </ng-container>
    <ng-container *ngIf="isUserAuthenticated && userRole != 'admin'">
      <div class=" inline-flex italic text-cyan-400">Welcome, {{userName}}!</div>
      <a routerLink="/shoppingCart" class="mx-4 text-lg">My cart</a>
      <a (click)="logout()" routerLink="" class="mx-4 text-lg">Logout</a>
    </ng-container>
    <ng-container *ngIf="userRole == 'admin'">
      <div class="inline-flex text-lime-500 text-sm">LOGGED IN AS ADMIN</div>
      <a routerLink="/addProducts" class="mx-4 text-lg">Add stuff</a>
      <a routerLink="/addCategories" class="mx-4 text-lg">Add categories</a>
      <a routerLink="/assignRoles" class="mx-4 text-lg">Add roles</a>
      <a (click)="logout()" class="mx-4 text-lg"> Logout</a>
    </ng-container>
  </div>
</nav>
<div class="p-4">
  <router-outlet></router-outlet>
</div>
